@import url(font.css);

:root {
  --basic-color: #1d1d1f;
  --border-color-1: #1d1d1f;
  --border-color-2: #1d1d1f;
  --support-color: #ffd100;
  --font-main: 'Pretendard', sans-serif;
  --font-paper: 'Paperozi', sans-serif;
  --font-prese: 'Presentation', sans-serif;
}

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem; /* = 16px */
  font-weight: 400;
  color: var(--basic-color);
  line-height: 1.6;
  background: #050505;
}

img, picture, video, canvas, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol, li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page {
  position: relative;
  z-index: 1;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main-visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}
.main-visual-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.main-visual-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-prese);
}
.main-visual-inner h1 {
  font-size: clamp(5rem, 8vw, 6rem);
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 3rem;
}
.main-visual-inner h1 span {
  /* margin-left: clamp(2.5rem, 4vw, 3rem); */
}
.main-visual-inner h2 {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(4.5rem, 5vw, 5rem);
  color: var(--basic-color);
  font-family: var(--font-prese);
  line-height: 1;
  text-align: center;
  font-weight: 900;
  padding: .5rem 1.2rem;
  margin-bottom: 1rem;
}
.main-visual-inner p {
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
  margin-bottom: 0.8rem;
  text-align: center;
  line-height: 1.1;
}
.cover-logo {
    width: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-2rem) translateY(-2rem);
    z-index: 1;
}

@media (max-width: 768px) {
  
}
