@import url(font.css);

:root {
  --basic-color: #1d1d1f;
  --border-color-1: #000;
  --border-color-2: #1d1d1f;
  --theme-color: #f9c270;
  --font-main: 'Pretendard', sans-serif;
  --font-paper: 'Paperozi', sans-serif;
  --font-prese: 'Presentation', sans-serif;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem;
  /* = 16px */
  font-weight: 400;
  color: var(--basic-color);
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page {
  position: relative;
  z-index: 1;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}

.main-visual-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.main-visual-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-prese);
}

.main-title figure {
  margin-bottom: 3rem;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-visual-inner .cover-box {
  padding: .5rem 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-svg {
  display: block;
  width: clamp(7rem, 15vw, 15rem);
  height: auto;
}

.main-visual-inner p {
  font-size: clamp(1.8rem, 2.5vw, 4rem);
  margin-bottom: 0.8rem;
  text-align: center;
  line-height: 1.2;
}

.cover-logo {
  width: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-2rem) translateY(-2rem);
  z-index: 1;
}

.content {
  padding: 1rem 0 5rem;
}

.content.blue {
  background-color: #0d519d;
  color: #fff
}

.content.green {
  background-color: #94e0c2;
  color: #000
}

.content.pink {
  background-color: #ffa8a9;
  color: #fff
}

.content.black {
  background-color: #000;
  color: #fff
}

.content.first-content {
  background-image: url(../images/paper_bg.jpg);
  background-size: 100% auto;
  background-repeat: repeat-y;
}

.content h6 {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  padding: 0rem 2rem 0rem 0;
  text-align: right;
  font-family: var(--font-paper);
}

.content-title div {
  padding: 1rem 2rem 0;
}

.content-title span {
  display: inline-block;
  width: fit-content;
  background: var(--basic-color);
  color: #fff;
  font-size: 1.2rem;
  font-family: var(--font-prese);
  padding: 0 1rem;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.content-title h2 {
  font-size: clamp(3rem, 4vw, 5rem);
  font-family: var(--font-prese);
  font-weight: 700;
  line-height: 1.2;
  word-break: keep-all;
}

.content-stitle {
  padding: 2.5rem 2rem 1rem;
  text-align: center;
}

.content-stitle h3 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-family: var(--font-prese);
  font-weight: 700;
  line-height: 1.2;
  word-break: keep-all;
}

.content-stitle h3 span {
  font-size: clamp(1.6rem, 2vw, 2rem);
  margin-left: 0.5rem;
  font-weight: 500;
  display: block;
}

.slide-container {
  position: relative;
  width: 100%;
  padding: 0;
}

.slide-item {
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.slide-item-text {
  padding: 2rem 2.5rem;
  position: relative;
  color: var(--basic-color);
}

.slide-item-text h4 {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
  font-family: var(--font-prese);
  margin-bottom: .5rem;
  line-height: 1.2;
  word-break: keep-all;
}

.slide-item-text p {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  line-height: 1.5;
}

.first-item .slide-item-text {
  position: absolute;
  bottom: 7%;
  left: 5%;
  width: 90%;
}

.first-item span {
  display: inline-block;
  font-size: clamp(1.5rem, 1.8vw, 1.8rem);
  font-family: var(--font-prese);
  background-color: #000;
  color: #fff;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.first-item h4 {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
  font-family: var(--font-prese);
  background-color: #9cfad4;
  color: #000;
  width: fit-content;
  max-width: 100%;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.first-item p {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  padding: 1rem 1.2rem;
  margin-top: 0.5rem;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.ad-box {
  margin-top: 3rem
}

.ad-box p {
  font-size: clamp(1.6rem, 2vw, 2rem);
  padding: 2rem 2.5rem;
}

.ad-box span {
  display: block;
  font-size: clamp(1.6rem, 2vw, 2rem);
  margin-bottom: 1rem;
  max-width: 100%;
  margin: 1rem 2.5rem;
  padding: 1rem 0;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--basic-color);
    color: #fff;
  }
}