@import url(font.css);

:root {
  --basic-color: #1d1d1f;
  --border-color-1: #1d1d1f;
  --border-color-2: #1d1d1f;
  --support-color: #ffd100;
  --font-main: 'Pretendard', sans-serif;
  --font-paper: 'Paperozi', sans-serif;
  --font-prese: 'Presentation', sans-serif;
}

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem; /* = 16px */
  font-weight: 400;
  color: var(--basic-color);
  line-height: 1.6;
}

img, picture, video, canvas, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol, li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page {
  position: relative;
  z-index: 1;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main-visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}
.main-visual-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.main-visual-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-prese);
}
.main-visual-inner h1 {
  font-size: clamp(6rem, 10vw, 8rem);
  font-family: GilbutBi;
  font-weight: normal;
  letter-spacing: -.05em;
  line-height: 1;
  text-align: center;
  margin-bottom: 3rem;
  /* 무지개 그라데이션 */
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7a00,
    #ffe600,
    #00ff00,
    #00c8ff,
    #0400ff,
    #b800ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  /* ▼ 여기 흰색 그림자 추가 ▼ */
  /* text-shadow:
    0 0 10px rgba(255, 255, 255, 0.1),
    0 0 2px rgba(255, 255, 255, 0.2); */
}
.main-visual-inner .cover-box {
    padding: .5rem 1.2rem; 
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.cover-svg {
  display: block;
  width: clamp(7rem, 15vw, 15rem);   /* 글자 크기에 맞게 조절 */
  height: auto;
}
.main-visual-inner p {
  font-size: clamp(1.8rem, 2.5vw, 4rem);
  margin-bottom: 0.8rem;
  text-align: center;
  line-height: 1.2;
}
.cover-logo {
    width: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-2rem) translateY(-2rem);
    z-index: 1;
}

@media (max-width: 768px) {
  
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;   /* 다크모드일 때만 적용 */
  }
}