@import url(font.css);

:root {
  --basic-color: #1d1d1f;
  --border-color-1: #1d1d1f;
  --border-color-2: #1d1d1f;
  --support-color: #ffd100;
  --font-main: 'Pretendard', sans-serif;
  --font-paper: 'Paperozi', sans-serif;
  --font-prese: 'Presentation', sans-serif;
}

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem; /* = 16px */
  font-weight: 400;
  color: var(--basic-color);
  line-height: 1.6;
  background: #050505;
}

img, picture, video, canvas, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol, li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page {
  position: relative;
  z-index: 1;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main-visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}
.main-visual-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.main-visual-inner {
  position: absolute;
  top: 50%;
  right: 30%;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: var(--font-prese);
}


@media (max-width: 768px) {
  
}
