@import url(font.css);

:root {
  --basic-color: #1d1d1f;
  --border-color-1: #000;
  --border-color-2: #1d1d1f;
  --theme-color: #f9c270;
  --font-main: 'Pretendard', sans-serif;
  --font-paper: 'Paperozi', sans-serif;
  --font-prese: 'Presentation', sans-serif;
}

html {
  /* font-size: 62.5%; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-main);
  font-size: 1rem;
  /* = 16px */
  font-weight: 400;
  color: var(--basic-color);
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page {
  position: relative;
  z-index: 1;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}

.main-visual-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 90%);
  z-index: 2;
}

.main-visual-bg video,
.main-visual-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.main-visual-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-5%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-prese);
}

.main-visual-inner h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  word-break: keep-all;
  margin-bottom: 1rem;
  font-family: var(--font-prese);
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.main-title figure {
  margin-bottom: 2rem;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-visual-inner .cover-box {
  padding: .25rem .8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-show {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-svg {
  display: block;
  width: clamp(6rem, 10vw, 12rem);
  height: auto;
}

.main-visual-inner p {
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  margin-bottom: 0.8rem;
  text-align: center;
  line-height: 1.2;
}

.cover-logo {
  width: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-1rem) translateY(-1rem);
  z-index: 1;
}

.content {
  margin-top: 1rem;
}

.content-head {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.profile {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.content-stitle h3 {
  font-size: .9rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  letter-spacing: -0.03rem;
}

.content-stitle h3 span {
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 0.5rem;
  color: #6a717a;
  letter-spacing: 0;
}

.slide-container {
  position: relative;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

.slide-item {
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.slide-item-text {
  padding: 0.8rem 1rem;
  position: relative;
  color: var(--basic-color);
}

.slide-item-text h4 {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  font-weight: 700;
  font-family: var(--font-prese);
  margin-bottom: .5rem;
  line-height: 1.2;
  word-break: keep-all;
}

.slide-item-text h5 {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 700;
  margin-bottom: .5rem;
  line-height: 1.3;
  word-break: keep-all;
}

.slide-item-text h5.go-btn {
  margin-top: 2rem;
}

.slide-item-text h5.go-btn a {
  background-color: rgba(0, 0, 0, .1);
  color: #000;
  padding: 0.3rem 0.8rem 0.3rem 3rem;
  border-radius: 0.5rem;
  position: relative;
}

.slide-item-text h5.go-btn a::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.05rem;
  background-image: url(../images/icon_youtube.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.slide-item-text h5.go-btn.go-pdf a::before {
  background-image: url(../images/icon_pdf.png);
}

.slide-item-text h5.go-btn.go-link a::before {
  background-image: url(../images/icon_link.png);
}

.slide-item-text p {
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  line-height: 1.5;
}

.slide-item-text p.normal-box {
  margin-top: 1rem;
  border: 1px solid var(--basic-color);
  padding: 1rem 1.2rem;
}

.slide-item-text p span {
  font-size: clamp(1.2rem, 1.8vw, 1.8rem);
}

.slide-item-text p span.label {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  font-weight: 600;
  margin-right: 0.5rem;
}

.slide-item-text ul {
  margin-top: 1rem;
}

.slide-item-text li {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  line-height: 1.3;
  word-break: keep-all;
}

.slide-item-text ul li {
  position: relative;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.slide-item-text ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--basic-color);
}

.slide-item figcaption {
  color: var(--basic-color);
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  text-align: right;
  padding-right: 1rem;
}

.slide-item-text.list h4 {
  font-size: clamp(3rem, 3.5vw, 4rem);
}

.slide-item-text.list ol {
  margin-top: 1rem;
  padding-left: 2rem;
}

.slide-item-text.list ol li {
  margin-bottom: 1rem;
  list-style-type: decimal;
  font-size: clamp(1.6rem, 2vw, 2rem);
}

.slide-item .dual-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2.5rem 2.5rem 0;
}

.slide-item .dual-image figure {
  border-radius: 1rem;
  overflow: hidden;
}

.slide-item .center-image {
  width: 50%;
  margin: 0 auto;
}

.slide-item .center-image.mgt {
  margin-top: 2rem;
}

.slide-item .center-image figcaption {
  line-height: 1.2;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}