@import url(font.css);

:root {
  --basic-color: #1d1d1f;
  --border-color-1: #000;
  --border-color-2: #1d1d1f;
  --theme-color: #f9c270;
  --font-main: 'Pretendard', sans-serif;
  --font-paper: 'Paperozi', sans-serif;
  --font-prese: 'Presentation', sans-serif;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem;
  /* = 16px */
  font-weight: 400;
  color: var(--basic-color);
  line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page {
  position: relative;
  z-index: 1;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}

.main-visual-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.main-visual-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-prese);
}

.main-title figure {
  margin-bottom: 3rem;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-visual-inner .cover-box {
  padding: .5rem 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-svg {
  display: block;
  width: clamp(7rem, 15vw, 15rem);
  height: auto;
}

.main-visual-inner p {
  font-size: clamp(1.8rem, 2.5vw, 4rem);
  margin-bottom: 0.8rem;
  text-align: center;
  line-height: 1.2;
}

.cover-logo {
  width: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-2rem) translateY(-2rem);
  z-index: 1;
}

section.content {
  /* border-left: 1px solid var(--border-color-1);
  border-right: 1px solid var(--border-color-1); */
}

.content-title {
  background-color: var(--border-color-1);
  color: #fff;
  padding: 4rem 0 4.5rem;
}

.content-title div {
  width: fit-content;
  margin: 0 auto;
}

.content-title span {
  display: block;
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.content-title h2 {
  font-family: var(--font-paper);
  font-size: clamp(3rem, 4vw, 5rem);
  line-height: 1;
}

.content-stitle {
  padding: 2.5rem 2rem;
  text-align: center;
}

.content-stitle h3 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: 600;
  line-height: 1.5;
}

.content-stitle h3 span {
  font-size: clamp(1.6rem, 2vw, 2rem);
  margin-left: 0.5rem;
  font-weight: 500;
  display: block;
}

.slide-container {
  position: relative;
  width: 100%;
  padding: 0;
}

@media (max-width: 768px) {}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--basic-color);
    color: #fff;
  }
}